// =============================================================================
// Drag and Drop
// =============================================================================
#darg_drop {
  margin-bottom: $marg40;
  padding-top: $pad60;
  position: relative;
  .content-drag_drop {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    h2 {
      font-family: $whitney-sc;
      text-transform: uppercase;
      color: $midlle_blue;
      margin-bottom: $marg25;
      font-size: $font28;
      font-weight: $font500;
      &:after {
        content: "";
        background: $midlle_blue;
        width: 70px;
        height: 2px;
        margin: 0 auto;
        margin-top: $marg20;
        display: block;
      }
    }
    p {
      font-family: $whitney;
      color: $midlle_black;
    }
  }
  .rotate-line {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 32%;
    z-index: -1;
    width: 100%;
    height: 17%;
    background: $midlle_blue;
    clip-path: polygon(0 85%,0 95%,100% 30%);
	}
  /*.rotate-line {
    position: absolute;
    margin: 0 auto;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 605px;
    width: 100%;
		polygon {
		  fill: $midlle_blue;
		}
	}*/
}
.dragdrop_container {
  width: 100%;
  margin: 30px auto;
  padding-top: $pad180;
  padding-bottom: $pad100;
  position: relative;
  .laptop-container {
    width: 1000px;
    margin: 0 auto;
    z-index: 1;
    .screenContainer {
      height: 339px;
      width: 560px;
      border-radius: 20px 20px 0px 0px;
      zoom: 1;
      position: relative;
      left: 50%;
      margin-left: -280px;
      background-color: #333;
      .frontCam {
        height: 14px;
        width: 14px;
        border-radius: 50%;
        zoom: 1;
        position: absolute;
        left: 50%;
        margin-top: 5px;
        margin-left: -7px;
        background-color: #000;
      }
    }
    .baseContainer {
      .base1 {
        height: 22px;
        width: 688px;
        position: relative;
        border-radius: 2px 2px 0px 0px;
        zoom: 1;
        margin-left: 156px;
        background-color: #DDD;
        .detail {
          height: 10px;
          width: 150px;
          position: relative;
          border-radius: 0 0 4px 4px;
          zoom: 1;
          left: 50%;
          margin-left: -75px;
          background-color: #999;
        }
      }
      .base2 {
        height: 15px;
        width: 688px;
        position: relative;
        border-radius: 0px 0px 3px 3px;
        zoom: 1;
        z-index: 9;
        margin-left: 156px;
        background-color: #CCC;
        overflow: hidden;
        border-top: 2px solid #BBB;
        &:before {
          height: 25px;
          width: 100px;
          position: absolute;
          transform: skew(-60deg, 5deg);
          -webkit-transform: skew(-60deg, 5deg);
          -moz-transform: skew(-60deg, 5deg);
          -o-transform: skew(-60deg, 5deg);
          -ms-transform: skew(-60deg, 5deg);
          content: '';
          right: -86px;
          border-left: 2px solid #BBB;
          background-color: #FFF;
        }
        &:after {
          height: 25px;
          width: 100px;
          position: absolute;
          transform: skew(60deg, 5deg);
          -webkit-transform: skew(60deg, 5deg);
          -moz-transform: skew(60deg, 5deg);
          -o-transform: skew(60deg, 5deg);
          -ms-transform: skew(60deg, 5deg);
          content: '';
          top: -6px;
          left: -82px;
          border-right: 2px solid #BBB;
          background-color: #FFF;
        }
      }
      .base2bottomBorder {
        height: 1px;
        width: 635px;
        position: relative;
        z-index: 99;
        left: 50%;
        margin-left: -318px;
        background: #BBB;
      }
      .shadow {
        height: 3px;
        width: 643px;
        position: relative;
        background-color: #999;
        z-index: 1;
        top: 0px;
        left: 50%;
        margin-left: -322px;
        -webkit-filter: blur(16px);
        filter: blur(6px);
      }
    }
  }
  #outer-dropzone {
    height: 295px;
    width: 515px;
    position: relative;
    margin: 0 auto;
    top: 24px;
  }
  #inner-dropzone {
    height: 295px;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background-image: url(../img/background-laptop.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .dropzone {
    background-color: #111;
    width: 80%;
    transition: background-color 0.3s;
  }
  .drop-active {
    border-color: #aaa;
  }
  .drop-target {
    background-color: $midlle_blue;
    background-image: none !important;
    border-color: #fff;
    z-index: 1;
  }
  .drag-drop {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0px 0px 25px 0px #cccccc;
    zoom: 1;
    transition: all 0.1s ease-in-out;
    line-height: 100px;
    text-align: center;
    background-image: url(../img/candidate-resume.svg);
    background-position: 50% 50%;
    background-size: 58%;
    background-repeat: no-repeat;
    color: #fff;
    z-index: 99;
    background-color: #52bdec;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    transition: background-color 0.3s;
    .dragMe {
      height: 28px;
      width: 90px;
      position: absolute;
      border-radius: 6px;
      box-shadow: 0px 0px 25px 0px #bbbbbb;
      zoom: 1;
      color: #999;
      left: -30px;
      top: -30px;
      background-color: #FFF;
      border: 2px solid #DDD;
      p {
        position: relative;
        margin: 0;
        padding: 0;
        height: 28px;
        line-height: 1.9em;
        z-index: 999;
      }
      &:before {
        content: '';
        height: 12px;
        width: 12px;
        border-radius: 0px 0px 3px 0px;
        zoom: 1;
        position: absolute;
        transform: rotateZ(45deg);
        z-index: 9;
        bottom: -8px;
        right: 8px;
        border-bottom: 2px solid #CCC;
        border-right: 2px solid #CCC;
        background-color: #FFF;
      }
    }
  }
  .blk-drag {
    animation: pulse;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    height: 100px;
    width: 100px;
  }
  .blk-applione {
    top: 20%;
    right: 120px;
    position: absolute;
    z-index: 99;
  }
  .blk-applitwo {
    top: 28%;
    left: 120px;
    position: absolute;
    z-index: 99;
  }
  .blk-applithree {
    top: 50px;
    right: 0;
    left: 0;
    position: absolute;
    margin: 0 auto;
    z-index: 99;
  }
  .applicant1 {
    background-color: #e67e22;
    border: 4px solid #d35400;
    //animation: bounce3 3.5s infinite;
    .dragMe {
      color: #e67e22;
    }
  }
  .applicant2 {
    background-color: #52bdec;
    border: 4px solid #41a1e2;
    //animation: bounce2 4s infinite ease-in-out;
    .dragMe {
      color: #52bdec;
    }
  }
  .applicant3 {
    background-color: #9b59b6;
    border: 4px solid #8e44ad;
    //animation: bounce 4s infinite;
    .dragMe {
      color: #9b59b6;
    }
  }
  .dragHere {
    color: #FFF;
    text-align: center;
    font-weight: lighter;
    height: 100%;
    overflow: hidden;
    padding-top: 95px;
    h3 {
      font-size: $font14;
      font-family: $whitney-sc;
      font-weight: $fontlighter;
      text-transform: uppercase;
      span {
        color: $midlle_blue;
      }
    }
    p {
      font-size: $font18;
      font-family: $whitney;
      font-weight: $fontlighter;
      font-style: $fontitalic;
    }
    &:after {
      height: 80px;
      width: 45px;
      position: absolute;
      background-image: url(../img/candidate-resume.svg);
      background-position: 50% 50%;
      background-size: 100%;
      background-repeat: no-repeat;
      bottom: 45px;
      left: 50%;
      margin-left: -22px;
      content: '';
    }
  }
  .candidate {
    height: 85px;
    width: 50%;
    transition: all 0.5s ease-in-out;
    border-radius: 50%;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    position: absolute;
    box-shadow: 0px 0px 25px 0px #333333;
    zoom: 1;
    top: 0;
    border: 1px solid #DDD;
    background: #F9F9F9;
    overflow: hidden;
    margin: 0 auto;
    margin-top: $marg10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $pad0_10;
    .profilePic {
      height: 72px;
      width: 72px;
      position: relative;
      zoom: 1;
      img {
        object-fit: cover;
        width: 72px;
        border-radius: 50%;
        border: 2px solid #DDD;
      }
    }
    .candidateName {
      height: auto;
      position: relative;
      width: 100%;
      padding: $pad0_15;
      h4 {
        font-size: $font16;
        font-weight: $font500;
        color: $midlle_black;
        border-bottom: 1px solid $quite_white;
        padding-bottom: 5px;
        margin-bottom: 5px;
      }
      ul {
        margin: 0;
        padding: 0;
        li {
          color: $color_p;
          line-height: inherit;
          font-size: $font12;
          display: inline-block;
          margin-right: $marg15;
          &:first-child {
            display: block;
          }
          &:before {
            content: url(../img/checked.svg);
            width: 10px;
            height: 10px;
            display: inline-block;
            margin-right: 5px;
          }
        }
      }
    }
    .match {
      position: relative;
      width: 55px;
      text-align: center;
      .matchRate {
        height: 55px;
        width: 55px;
        border-radius: 50%;
        zoom: 1;
        display: flex;
        align-items: center;
        position: relative;
        .centre {
          zoom: 1;
          color: $midlle_blue;
          width: 100%;
          font-size: $font14;
          text-transform: uppercase;
        }
        &:before {
          height: 55px;
          width: 55px;
          border-radius: 50%;
          border:6px solid $midlle_blue;
          position: absolute;
          left: 0;
          top: 0;
          content: "";
        }
      }
      .matchText {
        color: $midlle_blue;
        margin: 2px 0 0 0;
        font-size: $font11;
        line-height: inherit;
        text-transform: uppercase;
        font-weight: $font500;
      }
    }
    .profileView {
      position: absolute;
      left: 3%;
      height: 300px;
      z-index: 9999;
    }
  }
  .full-width {
    height: 40px;
    width: 100%;
    transition: all 0.5s ease-in-out;
    display: block;
  }
  .shrinkDown {
    transition: all 0.2s ease-in-out;
    transform: scale(0.5) !important;
  }
  .howitworks-section {
    margin-top: $marg90;
    .sec-top,
    .sec-bottom {
      display: flex;
      /*padding-left: $pad40;
      padding-right: $pad40;*/
    }
    .sec-top {
      justify-content: space-between;
      padding-top: $pad40;
      padding-bottom: $pad70;
      border-bottom: 2px solid $superlight_grey;
      article {
        width: 30%;
        text-align: center;
        color: $midlle_black;
        position: relative;
        .content-artworks {
          max-width: 400px;
          margin: 0 auto;
        }
        h2 {
          font-family: $whitney-sc;
          text-transform: uppercase;
          margin: $marg25_0;
          font-size: $font19;
          font-weight: $font500;
        }
        p {
          margin: 0;
        }
      }
      .set-direction {
        display: flex;
        position: relative;
        &:before {
          content: url(../img/direction.svg);
          filter: grayscale(100%);
          position: absolute;
          left: -150%;
          right: 0;
          top: 48px;
          margin: auto;
          width: 200px;
          opacity: 0.05;
        }
      }
    }
    .sec-bottom {
      justify-content: center;
      padding-top: $pad70;
      width: 92%;
      margin: 0 auto;
      article {
        width: 31%;
        display: flex;
        align-items: center;
        margin: $marg0_15;
        img {
          margin-right: $marg15;
        }
        h2 {
          font-family: $whitney-sc;
          text-transform: uppercase;
          font-size: $font16;
          font-weight: $font500;
          color: $color_p;
          line-height: 24px;
        }
      }
    }
  }
}

// =============================================================================
// Responsive
// =============================================================================
@media (max-width: $for-phone-only) {
  #darg_drop {
    margin-bottom: $marg20;
    padding-top: $pad20;
    .content-drag_drop {
      width: 100%;
      h2 {
        font-size: $font24;
      }
    }
    .dragdrop_container {
      padding-top: 0;
      padding-bottom: $pad10;
      width: 100%;
      margin: 0 auto;
      .draggable,
      .blk-drag,
      .laptop-container {
        display: none;
      }
    }
    .rotate-line {
      display: none;
    }
  }
  .dragdrop_container {
    .howitworks-section {
      margin-top: $marg10;
      .sec-top,
      .sec-bottom {
        display: block;
        padding-left: 0;
        padding-right: 0;
      }
      .sec-top {
        justify-content: inherit;
        padding-top: $pad20;
        padding-bottom: $pad40;
        border-bottom: 2px solid $superlight_grey;
        article {
          width: 100%;
          text-align: center;
          color: $midlle_black;
          position: relative;
          .content-artworks {
            max-width: 400px;
            margin: 0 auto;
          }
          h2 {
            font-family: $whitney-sc;
            text-transform: uppercase;
            margin: $marg25_0;
            font-size: $font18;
            font-weight: $font500;
          }
          p {
            margin: 0;
          }
        }
        .set-direction {
          display: block;
          min-height: 140px;
          img,
          &:before {
            transform: rotate(90deg);
            transition: all 0.5s ease-in-out;
          }
          img {
            position: absolute;
            right: 0;
            left: 0;
            top: 50%;
            margin: auto;
          }
          &:before {
            left: 0;
            top: 15px;
          }
        }
      }
      .sec-bottom {
        justify-content: center;
        padding-top: $pad40;
        width: 100%;
        article {
          width: 100%;
          display: flex;
          align-items: center;
          margin: 0 0 15px 0;
          img {
            margin-right: $marg15;
            width: 45px;
          }
          h2 {
            font-size: $font14;
            line-height: 20px;
          }
        }
      }
    }
  }
}
@media (min-width: $for-tablet-portrait-up) { }
@media (min-width: $for-tablet-portrait-only-min) and (max-width: $for-tablet-portrait-only-max)  { }
@media (min-width: $for-tablet-landscape-up) { }
@media (min-width: $for-tablet-landscape-only-min) and (max-width: $for-tablet-landscape-only-max) { }
@media (min-width: $for-desktop-up) { }
@media (min-width: $for-desktop-only-min) and (max-width: $for-desktop-only-max) {
  .dragdrop_container {
    .howitworks-section {
      .sec-bottom {
        article {
          h2 {
            font-size: $font15;
          }
        }
      }
    }
  }
}
@media (min-width: $for-big-desktop-up) {
  .dragdrop_container {
    .howitworks-section {
      .sec-bottom {
        article {
          h2 {
            font-size: $font17;
          }
        }
      }
    }
  }
}
