// =============================================================================
// Phone
// =============================================================================

.marvel-device {
  display: inline-block;
  position: relative;
  box-sizing: content-box !important;
}
.marvel-device .screen {
  width: 100%;
  position: relative;
  height: 100%;
  color: white;
  z-index: 2;
  text-align: center;
  display: block;
  border-radius: 1px;
  box-shadow: 0 0 0 2px #111111;
  overflow: hidden;
  img {
    width: 100%;
    height: 415px;
    position: absolute;
    left: 0;
  }
}
.marvel-device .top-bar,
.marvel-device .bottom-bar {
  height: 3px;
  background: black;
  width: 100%;
  display: block;
}
.marvel-device .middle-bar {
  width: 3px;
  height: 4px;
  top: 0px;
  left: 90px;
  background: black;
  position: absolute;
}
.marvel-device.iphone6plus {
  width: 244px;
  height: 415px;
  padding: 90px 17px;
  background: #d9dbdc;
  border-radius: 46px;
  box-shadow: inset 0 0 3px 0 rgba(0,0,0,0.2);
}
.marvel-device.iphone6plus:before {
  width: calc(96.2%);
height: calc(98.3%);
position: absolute;
top: 6px;
content: '';
left: 6px;
border-radius: 44px;
background: #f8f8f8;
z-index: 1;
}
.marvel-device.iphone6plus:after {
  width: calc(94.4%);
    height: calc(97.5%);
    position: absolute;
    top: 9px;
    content: '';
    left: 9px;
    border-radius: 44px;
    box-shadow: inset 0 0 3px 0 rgba(0,0,0,0.1),inset 0 0 6px 3px #f5f5f5;
    z-index: 2;
}
.marvel-device.iphone6plus .home {
  border-radius: 100%;
    width: 46px;
    height: 46px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 20px;
    z-index: 3;
    background: #303233;
    background: linear-gradient(135deg, #303233 0%, #b5b7b9 50%, #f0f2f2 69%, #303233 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#303233', endColorstr='#303233', GradientType=1);
}
.marvel-device.iphone6plus .home:before {
  background: #f8f8f8;
    position: absolute;
    content: '';
    border-radius: 100%;
    width: calc(90%);
    height: calc(90%);
    top: 3.5px;
    left: 3.5px;
}
.marvel-device.iphone6plus .top-bar {
  height: 12px;
background: #bfbfc0;
position: absolute;
top: 68px;
left: 0;
}
.marvel-device.iphone6plus .bottom-bar {
  height: 12px;
    background: #bfbfc0;
    position: absolute;
    bottom: 68px;
    left: 0;
}
.marvel-device.iphone6plus .sleep {
  position: absolute;
    top: 158px;
    right: -4px;
    width: 4px;
    height: 50px;
    border-radius: 0px 2px 2px 0px;
    background: #d9dbdc;
}
.marvel-device.iphone6plus .volume {
  position: absolute;
    left: -4px;
    top: 160px;
    z-index: 0;
    height: 50px;
    width: 4px;
    border-radius: 2px 0px 0px 2px;
    background: #d9dbdc;
}
.marvel-device.iphone6plus .volume:before {
  position: absolute;
    left: 2px;
    top: -64px;
    height: 30px;
    width: 2px;
    border-radius: 2px 0px 0px 2px;
    background: inherit;
    content: '';
    display: block;
}
.marvel-device.iphone6plus .volume:after {
  position: absolute;
left: 0px;
top: 70px;
height: 50px;
width: 4px;
border-radius: 2px 0px 0px 2px;
background: inherit;
content: '';
display: block;
}
.marvel-device.iphone6plus .camera {
  background: #3c3d3d;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 29px;
    left: 50%;
    margin-left: -6px;
    border-radius: 100%;
    z-index: 3;
}
.marvel-device.iphone6plus .sensor {
  background: #3c3d3d;
width: 10px;
height: 10px;
position: absolute;
top: 48px;
left: 86px;
z-index: 3;
border-radius: 100%;
}
.marvel-device.iphone6plus .speaker {
  background: #292728;
    width: 60px;
    height: 4px;
    position: absolute;
    top: 50px;
    left: 0;
    margin: 0 auto;
    right: 0;
    border-radius: 6px;
    z-index: 3;
}

.marvel-device.iphone6plus.black {
  background: #464646;
  -webkit-box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.7);
}
.marvel-device.iphone6plus.black:before {
  background: #080808;
}
.marvel-device.iphone6plus.black:after {
  -webkit-box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.1), inset 0 0 6px 3px #212121;
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.1), inset 0 0 6px 3px #212121;
}
.marvel-device.iphone6plus.black .top-bar,
.marvel-device.iphone6plus.black .bottom-bar {
  background: #212121;
}
.marvel-device.iphone6plus.black .volume,
.marvel-device.iphone6plus.black .sleep {
  background: #464646;
}
.marvel-device.iphone6plus.black .camera {
  background: #080808;
}
.marvel-device.iphone6plus.black .home {
  background: #080808;
  background: -moz-linear-gradient(-45deg, #080808 0%, #464646 50%, #080808 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #080808), color-stop(50%, #464646), color-stop(100%, #080808));
  background: -webkit-linear-gradient(-45deg, #080808 0%, #464646 50%, #080808 100%);
  background: -o-linear-gradient(-45deg, #080808 0%, #464646 50%, #080808 100%);
  background: -ms-linear-gradient(-45deg, #080808 0%, #464646 50%, #080808 100%);
  background: linear-gradient(135deg, #080808 0%, #464646 50%, #080808 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#080808', endColorstr='#080808', GradientType=1);
}
.marvel-device.iphone6plus.black .home:before {
  background: #080808;
}

/*.marvel-device.iphone6plus.gold {
  background: #e8d7c5;
}
.marvel-device.iphone6plus.gold .top-bar,
.marvel-device.iphone6plus.gold .bottom-bar {
  background: #ffffff;
}
.marvel-device.iphone6plus.gold .sleep,
.marvel-device.iphone6plus.gold .volume {
  background: #e8d7c5;
}
.marvel-device.iphone6plus.gold .home {
  background: #cebba9;
  background: -moz-linear-gradient(-45deg, #cebba9 0%, #e8d7c5 50%, #cebba9 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #cebba9), color-stop(50%, #e8d7c5), color-stop(100%, #cebba9));
  background: -webkit-linear-gradient(-45deg, #cebba9 0%, #e8d7c5 50%, #cebba9 100%);
  background: -o-linear-gradient(-45deg, #cebba9 0%, #e8d7c5 50%, #cebba9 100%);
  background: -ms-linear-gradient(-45deg, #cebba9 0%, #e8d7c5 50%, #cebba9 100%);
  background: linear-gradient(135deg, #cebba9 0%, #e8d7c5 50%, #cebba9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cebba9', endColorstr='#cebba9', GradientType=1);
}*/
