// =============================================================================
// Transformicons
// =============================================================================

.div-button {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 20px;
  &::before {
    border-left: 1px solid #cccccc;
    height: 55px;
    content: "";
    display: flex;
    align-items: center;
  }
}
.main_top{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.tcon {
  position: relative;
  top: 0;
  bottom: 0;
  z-index: 999;
  appearance: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  transition: 0.3s;
  user-select: none;
  width: 35px;
  background: transparent;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  & > * {
    display: block;
  }
  &:hover, &:focus {
    outline: none;
  }
  &::-moz-focus-inner {
    border: 0;
  }
}
.tcon-menu__lines {
  display: flex;
  align-items: center;
  height: 5.71429px;
  width: 35px;
  border-radius: 2.85714px;
  transition: 0.3s;
  background: #333333;
  position: relative;
  &::before, &::after {
    display: flex;
    align-items: center;
    height: 5.71429px;
    width: 35px;
    border-radius: 2.85714px;
    transition: 0.3s;
    background: #333333;
    content: '';
    position: absolute;
    left: 0;
    -webkit-transform-origin: 2.85714px center;
    transform-origin: 2.85714px center;
    width: 100%;
  }
  &::before {
    top: 10px;
  }
  &::after {
    top: -10px;
  }
}
.tcon-transform .tcon-menu__lines {
  -webkit-transform: scale3d(0.8, 0.8, 0.8);
  transform: scale3d(0.8, 0.8, 0.8);
}
.tcon-menu--xcross {
  width: auto;
  height: 55px;
  float: right;
  margin: 0;
  padding: 0 0 0 20px;
  &.tcon-transform {
    .tcon-menu__lines {
      background: transparent;
      &::before, &::after {
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        top: 0;
        width: 40px;
      }
      &::before {
        -webkit-transform: rotate3d(0, 0, 1, 45deg);
        transform: rotate3d(0, 0, 1, 45deg);
        background: #ffffff;
      }
      &::after {
        -webkit-transform: rotate3d(0, 0, 1, -45deg);
        transform: rotate3d(0, 0, 1, -45deg);
        background: #ffffff;
      }
    }
  }
}
.tcon-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  &:active, &:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}
