// =============================================================================
// Variables
// =============================================================================

//Colours
$purple:          #C21B91;
$gold:            #FDA700;
$light_blue:      #4094b9;
$blue:    			  #1a76ab;
$midlle_blue:    	#52bdec;
$dark_blue:       #051821;
$grey:            #6b6b6b;
$light_grey:      #b6b6b6;
$superlight_grey: #eeeeee;
$green:           #9abf7f;
$darkgreen:       #00aa5c;
$red:     			  #b8242c;
$light_green:     #39b54a;
$orange:  			  #ed8139;
$dark_orange:  		#de4a2f;
$white:   			  #ffffff;
$light_white:     #fafafa;
$quite_white:   	#dddddd;
$dark_black:      #000000;
$black:           #333333;
$midlle_black:    #444444;
$quite_black:     #999999;
$color_p:         #666666;
$color_face:      #297fb8;
$color_twitter:   #3598dc;
$color_linkedin:  #007bb6;
$color_google:    #e84c3d;

//Pricing Colours
$blk_colour_one:    	    #52bdec;
$blk_colour_two:    	    #4db2de;
$blk_colour_three:        #45a0c8;
$blk_colour_four:    	    #295e74;
$link_light_grey:    	    #ececec;
$blk_colour_recommended:  linear-gradient(to bottom, rgba(80,184,229,1) 0%, rgba(80,184,229,1) 0%, rgba(50,114,144,1) 96%, rgba(50,114,144,1) 100%);
$link_recommended:        #285e74;
$back_grey:               #ececec;
$link_dark_grey:          #e3e3e3;

//Paddings
$pad10:              10px;
$pad10_0:            10px 0;
$pad0_10:            0 10px;
$pad12:              12px;
$pad15:              15px;
$pad15_0:            15px 0;
$pad0_15:            0 15px;
$pad15_10:           15px 10px;
$pad20:              20px;
$pad20_0:            20px 0;
$pad0_20:            0 20px;
$pad20_15:           20px 15px;
$pad20_25:           20px 25px;
$pad25:              25px;
$pad25_0:            25px 0;
$pad25_20:           25px 20px;
$pad30:              30px;
$pad30_0:            30px 0;
$pad35:              35px;
$pad40:              40px;
$pad40_0:            40px 0;
$pad0_40:            0 40px;
$pad40_20:           40px 20px;
$pad10_40:           10px 40px;
$pad50:              50px;
$pad50_0:            50px 0;
$pad55_0:            55px 0;
$pad60:              60px;
$pad60_0:            60px 0;
$pad70:              70px;
$pad60_40_140:       60px 40px 140px 40px;
$pad60_80_140:       60px 80px 140px 80px;
$pad90:              90px;
$pad100:             100px;
$pad160:             160px;
$pad180:             180px;


//Margins
$marg10:              10px;
$marg10_0:            10px 0;
$marg0_10:            0 10px;
$marg15:              15px;
$marg15_0:            15px 0;
$marg0_15:            0 15px;
$marg20:              20px;
$marg20_0:            20px 0;
$marg0_20:            0 20px;
$marg25:              25px;
$marg25_0:            25px 0;
$marg0_25:            0 25px;
$marg30:              30px;
$marg40:              40px;
$marg40_0:            40px 0;
$marg50:              50px;
$marg60:              60px;
$marg70:              70px;
$marg60_0:            60px 0;
$marg90:              90px;
$marg100:             100px;
$marg160:             160px;

//Font Size
$font10:              10px;
$font11:              11px;
$font12:              12px;
$font13:              13px;
$font14:              14px;
$font15:              15px;
$font16:              16px;
$font17:              17px;
$font18:              18px;
$font19:              19px;
$font20:              20px;
$font21:              21px;
$font22:              22px;
$font23:              23px;
$font24:              24px;
$font25:              25px;
$font26:              26px;
$font27:              27px;
$font28:              28px;
$font29:              29px;
$font30:              30px;
$font32:              32px;
$font40:              40px;
$font44:              44px;
$font46:              46px;
$font48:              48px;
$font50:              50px;
$font52:              52px;
$font54:              54px;
$font64:              64px;
$font78:              78px;

//Type of font
$whitney:             'Whitney SSm A', 'Whitney SSm B';
$whitney-sc:          'Whitney SSm Small Caps A', 'Whitney SSm Small Caps B';

//Font Weight
$font500:             500;
$font600:             600;
$font700:             700;
$fontlighter:         lighter;
$fontbold:            bold;
$fontitalic:          italic;

// Responsive
$for-phone-only: 599px;
$for-tablet-portrait-up: 600px;
$for-tablet-portrait-only-min: 600px;
$for-tablet-portrait-only-max: 899px;
$for-tablet-landscape-up: 900px;
$for-tablet-landscape-only-min: 900px;
$for-tablet-landscape-only-max: 1199px;
$for-desktop-up: 1200px;
$for-desktop-only-min: 1200px;
$for-desktop-only-max: 1799px;
$for-big-desktop-up: 1800px;
