// =============================================================================
// Video Section
// =============================================================================
.back-video {
  background-image: url(../img/blueVideo.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transform: rotate(4deg) skew(4deg);
  -webkit-transform: rotate(4deg) skew(4deg);
  position: absolute;
  width: 105%;
  height: 130%;
  left: -10px;
  top: -80px;
    &:before {
      height: 100%;
      width: 100%;
      position: absolute;
      opacity: 0.95;
      -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=95);
      filter: alpha(opacity=95);
      z-index: 1;
      left: 0;
      content: '';
      background-color: $midlle_blue;
    }
}
.content-video {
  padding: 70px 0 95px 0;
  width: 100%;
  position: relative;
  .iconsContainer {
    width: 100%;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 9;
    display: flex;
    justify-content: space-between;
    .feature {
      width: 30%;
      text-align: center;
      position: relative;
      .text-feature {
        width: 50%;
        margin: 0 auto;
        padding-top: $pad25;
        color: $white;
        font-size: $font22;
        font-weight: $fontlighter;
        text-transform: uppercase;
        line-height: 26px;
      }
    }
    .block-2 {
      width: 40%;
      &:before {
        content: "+";
        color: $white;
        font-size: 4em;
        font-weight: $fontlighter;
        text-align: center;
        position: absolute;
        left: 0;
        top: 22%;
      }
      &:after {
        content: "+";
        color: $white;
        font-size: 4em;
        font-weight: $fontlighter;
        text-align: center;
        position: absolute;
        right: 0;
        top: 22%;
      }
      .blk-align {
        margin: 0 auto;
      }
    }
  }
  .video-text {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    color: $white;
    margin-top: 80px;
    z-index: 9;
    h2 {
      font-size: $font28;
      text-transform: uppercase;
      font-weight: $font500;
    }
    .play_btn {
      background: $white;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: inline-block;
      text-indent: -99999px;
      margin-top: $marg30;
      position: relative;
      opacity: 0.8;
      transition: all 0.3s;
      &:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 16px solid $quite_black;
        position: absolute;
        z-index: 1;
        left: 19px;
        top: 16px;
      }
      &:hover {
        opacity: 1;
        transition: all 0.3s;
      }
    }
    p {
      margin-top: $marg30;
      font-weight: $fontlighter;
      font-size: $font20;
    }
  }
}

.video_modal {
  overflow: hidden;
  .videoWrapper {
    position: relative;
  	padding-bottom: 56.25%; /* 16:9 */
  	padding-top: 25px;
  	height: 0;
    margin-top: 60px;
    iframe {
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    }
  }
}

// =============================================================================
// Responsive
// =============================================================================
@media (max-width: 767px) {
  .back-video {
    transform: rotate(0deg) skew(0deg);
    -webkit-transform: rotate(0deg) skew(0deg);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  .content-video {
    padding: 50px 0;
    .iconsContainer{
      flex-direction: column;
      .feature {
        width: 100%;
        .text-feature {
          font-size: $font18;
          padding-top: $pad10;
          line-height: 22px;
          width: 100%;
        }
      }
      .block-2 {
        padding: 60px 0;
        margin: 10px 0;
        &:before {
          font-size: 2.8em;
          right: 0;
          top: 0;
        }
        &:after {
          font-size: 2.8em;
          left: 0;
          bottom: 0;
          top: inherit;
        }
      }
    }
    .video-text {
      padding: $pad0_20;
      margin-top: $marg70;
      h2 {
        font-size: $font26;
      }
      p {
        font-size: $font16;
      }
    }
  }

}
