@charset "utf-8";

// =============================================================================
// 01. Includes
// 02. General Style
// 03. Main Style
// 04. Header
// 16. Footer
// 13. Responsive
// =============================================================================


// =============================================================================
// 01. Includes
// =============================================================================
@import "clean";
@import "variables";
@import "animations";
@import "transformicons";
@import "responsive-menu";
@import "drag-drop";
@import "slideshow";
@import "phone";
@import "phone-section";
@import "pricing";
@import "testimonials";
@import "contact";
@import "privacy-policy";
@import "modal-trialform";
@import "customers";
@import "video-section";


// =============================================================================
// 01. General Style
// =============================================================================
#mainsite {
  padding-top: 75px;
}
#content {
  overflow: hidden;
  position: relative;
  max-width: 1920px;
  margin: auto;
}
.site-main {
  padding-bottom: $pad90;
}
/*Display None how it owrks link at the internal pages*/
.page {
  .site-menutop-button {
    position: relative;
    nav{
      ul{
        li.how-it-works {
          display: none !important;
        }
      }
    }
  }
}
.invisible {
  opacity:0;
}
.visible,
.full-visible {
  opacity:1;
}

// =============================================================================
// 01. Header
// =============================================================================
header#masthead {
  padding: 10px 20px 10px 40px;
  background: $white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 75px;
  font-family: $whitney-sc;
  z-index: 9999;
  max-width: 1920px;
  margin: auto;
  .site-header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .site-menutop-button {
      display: flex;
      align-items: center;
      position: relative;
      .main_top {
        ul {
          padding: 0;
          margin: 0;
          li {
            display: inline-flex;
            align-items: center;
            a {
              text-transform: uppercase;
              color: $midlle_black;
              margin-left: $marg20;
              font-size: $font14;
            }
          }
          .starttrial-link a {
            box-shadow: 0px 0px 15px #cccccc;
            padding: $pad10;
            font-weight: $font500;
            border-radius: 5px;
            transition: all 0.2s ease-in-out;
            color: $white;
            background-color: $midlle_blue;
            &:hover, &:active {
              background-color: $blue;
              transition: all 0.2s ease-in-out;
            }
          }
        }
      }
    }
  }
}

// =============================================================================
// 01. Drag and Drop
// =============================================================================


// =============================================================================
// 01. Phone Section
// =============================================================================

// =============================================================================
// 01. Content.Video Section
// =============================================================================


// =============================================================================
// 01. Internal Pages
// =============================================================================
#primary {
  #main {
    article.page {
      padding: $pad10_40;
      .entry-header,
      .entry-content {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        h1 {
          font-family: $whitney-sc;
          text-transform: uppercase;
          color: $midlle_blue;
          margin-bottom: $marg25;
          font-weight: $font600;
          font-size: $font30;
        }
        h2, h3, h4, h5, h6 {
          font-family: $whitney;
          color: $midlle_blue;
          margin-bottom: $marg25;
          font-weight: $fontlighter;
          line-height: 32px;
        }
        h2 {
          font-size: $font32;
        }
        h3 {
          font-size: $font28;
        }
        h4 {
          font-size: $font24;
        }
        h5 {
          font-size: $font20;
        }
        h6 {
          font-size: $font16;
        }
        p {
          font-size: $font22;
          color: $color_p;
        }
      }
      .entry-content {
        margin-bottom: $marg100;
        min-height: 80px;
      }
    }
    .rotate-line-internal {
      position: absolute;
      margin: 0 auto;
      left: -20px;
      right: 0;
      top: 400px;
      z-index: -1;
      width: 115%;
      height: 100px;
      background: $midlle_blue;
      transform: rotate(5deg) skew(5deg);
      clip-path: polygon(100% 95%, 0 80%, 0 30%);
    }
  }
}
.page-template-customers {
  #primary {
    #main {
      article {
        .entry-header {
          h1 {
            font-size: $font64;
            font-weight: $font600;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

// =============================================================================
// 01. Customer Content Footer Section
// =============================================================================



// =============================================================================
// 01. Footer
// =============================================================================
footer {
  .info-nav-wrapper {
    width: 100%;
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #F7F7F7;
    margin-top: $marg60;
    padding-top: $pad40;
    padding-bottom: $pad40;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    #info-site {
      width: 45%;
      position: relative;
      padding-top: $pad50;
      #text-3 {
        p {
          color: $quite_black;
        }
      }
      &:before {
        content: url(../img/logoIrecruit.svg);
        width: 40px;
        opacity: 0.2;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    #content-bottom-menus {
      width: 55%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      nav {
        width: 33%;
        h4 {
          color: $midlle_blue;
          font-size: $font16;
          font-weight: $fontbold;
          text-transform: uppercase;
          margin-bottom: $marg15;
          letter-spacing: 1px;
          display: block;
        }
        ul {
          margin: 0;
          padding: 0;
          li {
            display: block;
            margin-bottom: $marg10;
            a {
              display: block;
              color: $quite_black;
              font-weight: $fontlighter;
              &:hover,
              &:active {
                color: #666;
              }
            }
          }
        }
      }
    }
  }
  .common-footer-wrapper {
    .three-buttons {
      height: auto;
      width: 100%;
      max-width: 1240px;
      padding: 0 20px;
      margin: 0 auto;
      margin-top: -80px;
      display: flex;
      justify-content: space-between;
      .widget_categorieswidgets {
        height: 160px;
        width: 32%;
        border-radius: 9px;
        box-shadow: 0px 0px 15px rgba(241,241,241,0.4);
        zoom: 1;
        transition: all 0.2s ease-in-out;
        position: relative;
        cursor: pointer;
        background-color: #fcfcfc;
        overflow: hidden;
        .button {
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;
          .icon-button {
            position: relative;
            z-index: 1;
            height: 100%;
            width: 35%;
            display: flex;
            align-items: center;
            img {
              margin: 0 auto;
            }
          }
          .text-container {
            height: 100%;
            width: 65%;
            position: relative;
            box-sizing: border-box;
            z-index: 9;
            font-weight: $fontlighter;
            h2 {
              font-weight: $fontbold;
              color: $midlle_blue;
              text-transform: uppercase;
              margin-top: $marg30;
              margin-bottom: $marg10;
              font-size: $font16;
            }
            p {
              padding-right: $pad25;
              color: $quite_black;
            }
          }
          &:before {
            height: 160px;
            width: 160px;
            border-radius: 50%;
            zoom: 1;
            position: absolute;
            transition: all 0.2s ease-in-out;
            z-index: 1;
            left: -75px;
            content: '';
            background-color: #F4F4F4;
          }
        }
        &:hover {
          transition: all 0.2s ease-in-out;
          margin-top: -5px;
          background-color: $white;
          &:before {
            opacity: 0.5;
            -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
            filter: alpha(opacity=50);
            transition: all 0.2s ease-in-out;
          }
        }
      }
    }
  }
}

// =============================================================================
// Responsive
// =============================================================================
@media only screen and (max-width: 992px) {
  // =============================================================================
  // Modal Form
  // =============================================================================
  .modal{
    .modal-content {
      .modal-form {
        width: 100%;
      }
      .icons-container {
        .block-2 {
          width: 40% !important;
        }
        .feature {
          width: 33%;
        }
      }
    }
  }

}

@media (max-width: 767px) {
  // =============================================================================
  // General Style
  // =============================================================================

  // =============================================================================
  // Modal Form
  // =============================================================================
  .modal{
    .modal-content {
      width: 100%;
      .modal-form {
        width: 100%;
        padding: $pad20_25;
      }
      .icons-container {
        .feature {
          width: 30%;
          font-size: 10px;
          .text-feature {
            width: 80%;
            font-size: 11px;
            line-height: 18px;
          }
          img {
            height: 43px;
          }
        }
      }
    }
  }
  // =============================================================================
  // Slideshow
  // =============================================================================
  section#slider {
    padding: 0;
    .wrapper {
      .item {
        .data {
          padding: $pad60_0;
          width: 90%;
          h2 {
            font-size: $font26;
          }
          h3 {
            font-size: $font16;
          }
          p{
            font-size: $font14;
          }
        }
      }
    }
    ul.bullets {
      bottom: 5px;
      li {
        width: 16px;
        height: 12px;
        margin: 5px 0;
        span {
  				width: 4px;
  				height: 12px;
  			}
  			&.ativo {
  				span {
  					width: 16px;
  				}
  			}
      }
    }
    .arrow {
      bottom: -59px;
      &:after {
        height: 70px;
      }
    }
    .rotate-line {
      bottom: -80px;
      height: 60%;
    }
    .lines-left,
    .lines-right {
      display: none;
    }
  }
  // =============================================================================
  // 01. Header
  // =============================================================================
  header#masthead {
    padding: 10px 20px;
      .site-header-main {
        .site-menutop-button{
        .main_top {
          display: none;
        }
      }
    }
  }
  // =============================================================================
  // Drag and Drop
  // =============================================================================
  #darg_drop {
    margin-bottom: $marg20;
    padding-top: $pad20;
    .content-drag_drop {
      width: 90%;
      h2 {
        font-size: 24px;
      }
      p {
        font-size: 15px;
      }
    }
    .dragdrop_container {
      padding-top: 0;
      padding-bottom: $pad60;
      width: 90%;
      .quality {
        h2 {
          font-size: 1.8em;
          letter-spacing: -1px;
        }
        .textQuality {
          font-size: 15px;
        }
      }
      .draggable,
      .laptop-container {
        display: none;
      }
    }
    .rotate-line {
      display: none;
    }
  }
  // =============================================================================
  // 01. Internal Pages
  // =============================================================================
  #primary {
    #main {
      article.page {
        padding: 10px 25px;
        .entry-header,
        .entry-content {
          margin-bottom: $marg30;
          h1 {
            font-size: $font28;
          }
          h2, h3, h4, h5, h6 {
          }
          h2 {
            font-size: $font30;
          }
          h3 {
            font-size: $font24;
          }
          h4 {
            font-size: $font20;
          }
          h5 {
            font-size: $font16;
          }
          h6 {
            font-size: $font14;
          }
          p {
            font-size: $font20;
          }
        }
      }
    }
  }
  // =============================================================================
  // Video Section
  // =============================================================================
  .content-video {
    padding: 0 0 50px 0;
    .iconsContainer{
      flex-direction: column;
      .feature {
        width: 100%;
        .text-feature {
          font-size: $font18;
          padding-top: $pad10;
          line-height: 22px;
          width: 100%;
        }
      }
      .block-2 {
        padding: 60px 0;
        margin: 10px 0;
        &:before {
          font-size: 2.8em;
          right: 0;
          top: 0;
        }
        &:after {
          font-size: 2.8em;
          left: 0;
          bottom: 0;
          top: inherit;
        }
      }
    }
    .video-text {
      padding: $pad0_20;
      margin-top: $marg70;
      h2 {
        font-size: $font26;
      }
      p {
        font-size: $font16;
      }
    }
  }
  // =============================================================================
  // Customers
  // =============================================================================
  .customersWrapper {
    .customersContainer {
      .lineCustomers {
        .customer {
          width: 36%;
          height: auto;
        }
        .customer:nth-of-type(odd) {
          width: 42%;
          height: auto;
        }
        .customer:nth-of-type(3),
        .customer:nth-of-type(4){
          display: none;
        }
      }
    }
    .customersContent{
      top: 170px;
      .customersText {
        .better{
          padding: $pad0_20;
        }
      }
    }
  }
  // =============================================================================
  // 01. Footer
  // =============================================================================
  footer {
    .info-nav-wrapper {
      flex-direction: column-reverse;
      padding: $pad20;
      margin-top: $marg10;
      #info-site,
      #content-bottom-menus {
        width: 100%;
      }
      #info-site {
        text-align: center;
        margin-top: $marg20;
        &:before {
          right: 0;
          margin: 0 auto;
        }
      }
    }
    .common-footer-wrapper {
      .three-buttons {
        flex-direction: column;
        .widget_categorieswidgets {
          width: 100%;
          margin-bottom: $marg20;
          .button {
            .icon-button {
              img {
                height: 70px;
              }
            }
          }
        }
      }
    }
  }


}

@media (min-width: 900px) {

}
@media (min-width: 600px) and (max-width: 899px) {

}
@media (min-width: 300px) and (max-width: 599px) {

}
