@charset "utf-8";

// =============================================================================
// 01. Includes
// 02. General Style
// 03. Main Style
// 04. Header
// 16. Footer
// 13. Responsive
// =============================================================================


// =============================================================================
// 01. Includes
// =============================================================================
@import "clean";
@import "variables";
@import "animations";
@import "transformicons";
@import "responsive-menu";
@import "drag-drop";
@import "slideshow";
@import "phone";
@import "pricing";
@import "testimonials";
@import "contact";
@import "privacy-policy";
@import "modal-trialform";
@import "customers";
@import "video-section";

// =============================================================================
// 01. Header
// =============================================================================
#content {
  overflow: hidden;
  position: relative;
}


#personalityprofile_content {
  //display: none;
  img {
    width: 100%;
    height: 410px;
    position: absolute;
    left: 0;
  }
}

.page {
  .site-menutop-button {
    nav{
      ul{
        li.how-it-works {
          display: none !important;
        }
      }
    }
  }
}


// =============================================================================
// 01. Header
// =============================================================================
header#masthead {
  padding: 20px 20px 20px 40px;
  font-family: $whitney-sc;
  .site-header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .site-menutop-button {
      display: flex;
      align-items: center;
      .main_top {
        ul {
          padding: 0;
          margin: 0;
          li {
            display: inline-flex;
            align-items: center;
            a {
              text-transform: uppercase;
              color: $midlle_black;
              margin-left: $marg20;
              font-size: $font14;
            }
          }
          .starttrial-link a {
            box-shadow: 0px 0px 15px #cccccc;
            padding: $pad10;
            font-weight: $font500;
            border-radius: 5px;
            transition: all 0.1s ease-in-out;
            color: $white;
            background-color: $midlle_blue;
          }
        }
      }
    }
  }
}

// =============================================================================
// 01. Drag and Drop
// =============================================================================
#darg_drop {
  margin-bottom: $marg40;
  padding-top: $pad60;
  position: relative;
  .content-drag_drop {
    width: 38%;
    margin: 0 auto;
    text-align: center;
    h2 {
      font-family: $whitney-sc;
      text-transform: uppercase;
      color: $midlle_blue;
      margin-bottom: $marg25;
      font-size: $font28;
      font-weight: $font500;
      &:after {
        content: "";
        background: $midlle_blue;
        width: 70px;
        height: 2px;
        margin: 0 auto;
        margin-top: $marg20;
        display: block;
      }
    }
    p {
      font-family: $whitney;
      font-size: $font16;
    }
  }
  .rotate-line {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 45%;
    z-index: -1;
    width: 100%;
    height: 15%;
    background: $midlle_blue;
    -webkit-clip-path: polygon(0 90%, 0 95%, 100% 30%);
	}
}

// =============================================================================
// 01. Phone Section
// =============================================================================
.back-phone {
  transform: rotate(4deg) skew(4deg);
  -webkit-transform: rotate(4deg) skew(4deg);
  position: absolute;
  width: 105%;
  height: 100%;
  left: -10px;
  top: 0;
  &:before {
    content: "";
    background-image: url(../img/patternBlackSection.png);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
  }
}
.line-top {
  position: absolute;
  margin: 0 auto;
  right: -25px;
  top: -94px;
  z-index: 1;
  width: 135%;
  height: 10%;
  background: $midlle_blue;
  transform: rotate(5deg) skew(5deg);
  clip-path: polygon(100% 95%, 0 80%, 100% 40%);
}
.phone-section {
  height: auto;
  width: 100%;
  padding: 160px 0 200px 0;
  position: relative;
  .phone-menu-container {
    max-width: 440px;
    width: 100%;
    position: absolute;
    left: 40px;
    top: 170px;
    h2 {
      font-family: $whitney-sc;
      font-size: $font28;
      color: $white;
      font-weight: $fontlighter;
      text-transform: uppercase;
      position: relative;
      padding-bottom: $pad15;
      padding-top: $pad50;
      &:before {
        width: 40px;
        content: url(../img/titleicon-phone.svg);
        position: absolute;
        left: 0;
        top: 0;
      }
      &:after {
        width: 20%;
        height: 2px;
        background: $midlle_blue;
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
    p {
      color: $white;
      font-size: $font16;
      font-weight: $fontlighter;
    }
    h3 {
      font-family: $whitney;
      font-size: $font16;
      color: $white;
      font-weight: $fontlighter;
      padding: $pad20_0;
    }
    nav {
      ul {
        padding: 0;
        margin: 0;
        li {
          margin: $marg15_0;
          a {
            font-family: $whitney-sc;
            font-size: $font16;
            color: $white;
            font-weight: $fontlighter;
            text-transform: uppercase;
            border-left: 2px solid $midlle_blue;
            padding: 7px 15px 7px 15px;
            display: inline-block;
          }
        }
      }
    }
  }
  .iphone-container {
    width: 278px;
    margin: 0 auto;
    border-radius: 46px;
    box-shadow: 0 0 160px $dark_black;
    position: relative;
    .description {
      position: absolute;
      width: 260px;
      z-index: 2;
      h3 {
        font-family: $whitney-sc;
        font-size: $font18;
        color: $white;
        font-weight: $fontlighter;
        text-transform: uppercase;
        position: relative;
        padding: $pad15_0;
      }
      p {
        color: $white;
        font-size: $font14;
        font-weight: $fontlighter;
        margin: 0;
      }
      .flag-dir {
        background: $midlle_blue;
        height: 2px;
        width: 160px;
        display: flex;
        align-items: center;
        position: absolute;
        left: -175px;
        top: 25px;
        &:before {
          content: "";
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background: $midlle_blue;
          display: block;
        }
        &:after {
          content: "";
          border-right: 2px solid $midlle_blue;
          height: 18px;
          width: 2px;
          position: absolute;
          right: 0;
        }
      }
    }
    .personality_profile {
      top: 183px;
      left: 390px;
    }
    .strenghts {
      top: 355px;
      left: 340px;
    }
  }
  .blk-button {
    width: 278px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    a {
      box-shadow: 2px 2px 50px $dark_black;
      padding: $pad10;
      font-weight: $font500;
      font-size: $font17;
      font-family: $whitney-sc;
      text-transform: uppercase;
      margin-top: $marg30;
      border-radius: 5px;
      transition: all 0.1s ease-in-out;
      color: $white;
      background-color: $midlle_blue;
      display: inline-block;
    }
    span {
      font-style: $fontitalic;
      font-size: $font13;
      display: block;
      margin-top: 7px;
      color: $quite_black;
    }
  }
}

// =============================================================================
// 01. Content.Video Section
// =============================================================================


// =============================================================================
// 01. Internal Pages
// =============================================================================
#primary {
  #main {
    article.page {
      padding: $pad10_40;
      .entry-header,
      .entry-content {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        h1 {
          font-family: $whitney-sc;
          text-transform: uppercase;
          color: $midlle_blue;
          margin-bottom: $marg25;
          font-weight: $font600;
          font-size: $font30;
        }
        h2, h3, h4, h5, h6 {
          font-family: $whitney;
          color: $midlle_blue;
          margin-bottom: $marg25;
          font-weight: $fontlighter;
          line-height: 32px;
        }
        h2 {
          font-size: $font32;
        }
        h3 {
          font-size: $font28;
        }
        h4 {
          font-size: $font24;
        }
        h5 {
          font-size: $font20;
        }
        h6 {
          font-size: $font16;
        }
        p {
          font-size: $font22;
          color: $color_p;
        }
      }
      .entry-content {
        margin-bottom: $marg100;
        min-height: 80px;
      }
    }
    .rotate-line-internal {
      position: absolute;
      margin: 0 auto;
      left: -20px;
      right: 0;
      top: 400px;
      z-index: -1;
      width: 115%;
      height: 100px;
      background: $midlle_blue;
      transform: rotate(5deg) skew(5deg);
      clip-path: polygon(100% 95%, 0 80%, 0 30%);
    }
  }
}
.page-template-customers {
  #primary {
    #main {
      article {
        .entry-header {
          h1 {
            font-size: $font64;
            font-weight: $font600;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

// =============================================================================
// 01. Customer Content Footer Section
// =============================================================================



// =============================================================================
// 01. Footer
// =============================================================================
footer {
  .info-nav-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-top: 3px solid #F7F7F7;
    margin-top: $marg60;
    padding-top: $pad40;
    padding-bottom: $pad40;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    #info-site {
      width: 45%;
      position: relative;
      padding-top: $pad50;
      #text-3 {
        p {
          color: $quite_black;
        }
      }
      &:before {
        content: url(../img/logoIrecruit.svg);
        width: 40px;
        opacity: 0.2;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    #content-bottom-menus {
      width: 55%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      nav {
        width: 33%;
        h4 {
          color: $midlle_blue;
          font-size: $font16;
          font-weight: $fontbold;
          text-transform: uppercase;
          margin-bottom: $marg15;
          letter-spacing: 1px;
          display: block;
        }
        ul {
          margin: 0;
          padding: 0;
          li {
            display: block;
            margin-bottom: $marg10;
            a {
              display: block;
              color: $quite_black;
              font-weight: $fontlighter;
              &:hover,
              &:active {
                color: #666;
              }
            }
          }
        }
      }
    }
  }
  .common-footer-wrapper {
    .three-buttons {
      height: auto;
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      margin-top: -80px;
      display: flex;
      justify-content: space-between;
      .widget_categorieswidgets {
        height: 160px;
        width: 32%;
        border-radius: 9px;
        box-shadow: 0px 0px 15px rgba(241,241,241,0.4);
        zoom: 1;
        transition: all 0.2s ease-in-out;
        position: relative;
        cursor: pointer;
        background-color: #fcfcfc;
        overflow: hidden;
        .button {
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;
          .icon-button {
            position: relative;
            z-index: 1;
            height: 100%;
            width: 35%;
            display: flex;
            align-items: center;
            img {
              margin: 0 auto;
            }
          }
          .text-container {
            height: 100%;
            width: 65%;
            position: relative;
            box-sizing: border-box;
            z-index: 9;
            font-weight: $fontlighter;
            h2 {
              font-weight: $fontbold;
              color: $midlle_blue;
              text-transform: uppercase;
              margin-top: $marg30;
              margin-bottom: $marg10;
              font-size: $font16;
            }
            p {
              padding-right: $pad25;
              color: $quite_black;
            }
          }
          &:before {
            height: 160px;
            width: 160px;
            border-radius: 50%;
            zoom: 1;
            position: absolute;
            transition: all 0.2s ease-in-out;
            z-index: 1;
            left: -75px;
            content: '';
            background-color: #F4F4F4;
          }
        }
        &:hover {
          transition: all 0.2s ease-in-out;
          margin-top: -5px;
          background-color: $white;
          &:before {
            opacity: 0.5;
            -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
            filter: alpha(opacity=50);
            transition: all 0.2s ease-in-out;
          }
        }
      }
    }
  }
}


@media (min-width: 900px) {

}
@media (min-width: 600px) and (max-width: 899px) {

}
@media (min-width: 300px) and (max-width: 599px) {

}
